<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console appender for logging in the console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File appender for logging in a file with rotation -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Archivo de log principal -->
        <file>logs/lyra-server.log</file>

        <!-- Time-based rolling policy -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Patrón para la rotación de los archivos -->
            <fileNamePattern>logs/lyra-server-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- Mantener solo los últimos 30 días de archivos de log -->
            <maxHistory>30</maxHistory>
            <!-- Eliminar los archivos más antiguos al iniciar la aplicación -->
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

    <!-- Logger for specific class -->
    <logger name="com.simplecore.erp.LyraServer" level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

</configuration>
